<body class="background"></body>
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="intro hidden-xs">
				<div class="text-center"><h1>Mercady</h1></div>	
			</div>
			<div class="intro hidden-sm hidden-lg hidden-md">
				<div class="text-center"><h3>Mercady</h3></div>	
			</div>
			<div class="row">
				<div class="col-sm-6 col-xs-9 col-sm-offset-3">
					<%= form_tag  buscar_path,:role => "search",  id: "form", method: :get do %>
					<div class="input-group">
						<%= text_field_tag :query, params[:query], class: "form-control input-lg ", id: "busca" ,:name => "busca",:placeholder => "Digite o endereço ou compartilhe a sua localização" %>
						<div class="input-group-btn">
							<button class="btn btn-default input-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
						</div>
					</div>
					<% end %>
				</div>
				<div class="col-sm-1 col-xs-1">
					<button class="btn btn-warning input-lg" type="submit"><%= icon('map-marker fa-2x') %><div id="spinner"></id></button>
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places&language=pt-BR"></script>
<script>
$(document).ready(function(){
	var autocomplete = new google.maps.places.Autocomplete($("#busca")[0], {country: 'BR'});
	$( ".btn-warning" ).click(function() {
		$('#spinner').toggle('1000');
		$(this).html('<i class="fa fa-spinner fa-spin fa-2x"></i>');
		var startPos;
		navigator.geolocation.getCurrentPosition(function(position) {
			startPos = position;
			$('#busca').val(startPos.coords.latitude + ' , ' + startPos.coords.longitude);
			$("#form").submit();
		});
	})
}) 

</script>