.navbar-institutional {
  background-color: #3f83bf;
  border-color: #3772a6;
  .navbar-brand {
    font-family: "Kaushan Script","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 2em;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    color: #fff04d;
    &:hover, &:focus {
      color: #fff04d;
      background-color: transparent;
    }
  }
  .navbar-text {
    color: #ffffff;
  }
  .navbar-nav > {
    li {
      &:last-child > a {
        border-right: 1px solid #3772a6;
      }
      > a {
        color: #ffffff;
        border-left: 1px solid #3772a6;
        &:hover, &:focus {
          color: #c0c0c0;
          background-color: transparent;
        }
      }
    }
    .active > a {
      color: #c0c0c0;
      background-color: #3772a6;
      &:hover, &:focus {
        color: #c0c0c0;
        background-color: #3772a6;
      }
    }
    .disabled > a {
      color: #cccccc;
      background-color: transparent;
      &:hover, &:focus {
        color: #cccccc;
        background-color: transparent;
      }
    }
  }
  .navbar-toggle {
    border-color: #dddddd;
    &:hover, &:focus {
      background-color: #dddddd;
    }
    .icon-bar {
      background-color: #cccccc;
    }
  }
  .navbar-collapse, .navbar-form {
    border-color: #3671a4;
  }
  .navbar-nav > {
    .dropdown > a {
      &:hover .caret, &:focus .caret {
        border-top-color: #c0c0c0;
        border-bottom-color: #c0c0c0;
      }
    }
    .open > a {
      background-color: #3772a6;
      color: #c0c0c0;
      &:hover, &:focus {
        background-color: #3772a6;
        color: #c0c0c0;
      }
      .caret, &:hover .caret, &:focus .caret {
        border-top-color: #c0c0c0;
        border-bottom-color: #c0c0c0;
      }
    }
    .dropdown > a .caret {
      border-top-color: #ffffff;
      border-bottom-color: #ffffff;
    }
  }
  .navbar-link {
    color: #ffffff;
    &:hover {
      color: #c0c0c0;
    }
  }
}

@media (max-width: 767) {
  .navbar-institutional .navbar-nav .open .dropdown-menu > {
    li > a {
      color: #ffffff;
      &:hover, &:focus {
        color: #c0c0c0;
        background-color: transparent;
      }
    }
    .active > a {
      color: #c0c0c0;
      background-color: #3772a6;
      &:hover, &:focus {
        color: #c0c0c0;
        background-color: #3772a6;
      }
    }
    .disabled > a {
      color: #cccccc;
      background-color: transparent;
      &:hover, &:focus {
        color: #cccccc;
        background-color: transparent;
      }
    }
  }
}